@model IEnumerable<vascernNew.Models.Disease>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a class="translate" asp-controller="DiseaseTraslations" asp-action="Index" asp-route-id="@item.Id">Translate</a>
                </td>
            </tr>
        }
    </tbody>
</table>
