@model IEnumerable<vascernNew.Models.HcpCenterTraslation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deparment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cordinator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailDirect)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneDirect)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoreService)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherSpecialistInside)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherSpecialistOutside)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ish24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.H24Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HcpWebsite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Youtube)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Twitter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfoPointInside)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfoPointOutside)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HcpCenter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deparment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cordinator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailDirect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDirect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherSpecialistInside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherSpecialistOutside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ish24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H24Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HcpWebsite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Youtube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoPointInside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfoPointOutside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Culture.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HcpCenter.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
